site_name: Resource Centre
site_description: "Tutorial documentation of selected open scource programs"
site_author: "Eli Volschenk and contributors"
docs_dir: ./docs/src
site_dir: ./docs/site
repo_name: "resource-centre"
repo_url: "https://github.com/EliVolsch/resource-centre"
edit_uri: "https://github.com/EliVolsch/resource-centre/blob/main/docs/"

copyright: Resource-Centre and Contributors

theme:
  name: material
  direction: ltr
  include_search_page: true
  search_index_only: true
  features:
    - content.code.annotate
    - content.tabs.link
    - header.autohide
    #- navigation.expand
    - navigation.prune
    - navigation.indexes
    - navigation.instant
    - navigation.sections
    - navigation.path
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
    #- toc.integrate
  language: en
  palette:
    - scheme: default
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
      primary: teal
      accent: purple
    - scheme: slate
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode
      primary: teal
      accent: lime
copyright: Kartoza and Contributors

extra:
  social:
    - icon: fontawesome/brands/github-alt
      link: https://github.com/EliVolsch/

markdown_extensions:
        - attr_list
        - pymdownx.highlight:
                  anchor_linenums: true
        - pymdownx.inlinehilite
        #- mdx_truly_sane_lists
        - toc:
                  permalink: true
                   #slugify: !!python/name:pymdownx.slugs.slugify
        - pymdownx.snippets:
                  base_path: .
        - admonition
        - tables
        - pymdownx.details
        - pymdownx.caret
        - pymdownx.keys
        - pymdownx.mark
        - pymdownx.tilde
        - pymdownx.superfences:
                  custom_fences:
                          - name: mermaid
                            class: mermaid
                            format: !!python/name:pymdownx.superfences.fence_code_format
        - pymdownx.emoji:
                  emoji_generator: !!python/name:materialx.emoji.to_svg
                  emoji_index: !!python/name:materialx.emoji.twemoji

nav:
        - Home:
                - index.md # short intro on project here
                - Code of conduct: about/codeofconduct.md
        - Learning Materials:
                - materials/explore.md # this will be menu file with all courses
                - Figma: 
                        - materials/figma/index.md
                        - Fundamentals: materials/figma/figma_basic/index.md
                - MKdocs: 
                        - materials/mkdocs/index.md
                        - MKdocs Materials: materials/mkdocs/index2.md
                        - Mkdocs: materials/mkdocs/index.md
        - Contribute:
                - /about/contributing.md #Why should people contribute to this platform? Link contributors gh handles
                - Contribution Guidelines: about/guidelines.md
        - About:
                - about/index.md
                - Terms of use: about/terms.md
                - License: about/license.md
        - Help: help.md
not_nav:
- "": materials/figma/figma_basic/effects.md
